body,
html {
    padding: 0;
    margin: 0;
    font-family: Manjari;
}

#NavBar {
    width: 100%;
    background: #ff0000;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

#siteTitle {
    color: white;
}

#NavBar a {
    float: right;
    text-decoration: none;
    color: white;
    padding-right: 1em;
}

#searchInput {
    margin-left: 0.5em;
    padding: 0.4em;
    letter-spacing: 0.8px;
    width: 70%;
}

#searchLabel {
    letter-spacing: 0.3em;
    width: 85%;
}

#searchLabel span {
    width: 30%;
}

#searchInput:focus {
    outline: none;
}

#searchInput:focus:invalid {
    border: 1px solid red;
    outline: none;
}

#searchBtn {
    display: inline-block;
    padding: 0.5em 1em;
    border: none;
    background: rgb(27, 175, 27);
    color: white;
    font-weight: bold;
}

#searchBtn:focus {
    outline: none;
}

form {
    width: 40%;
    margin: 5% auto;
    border: 1px solid #eee;
    padding: 0.5em;
}

#postList li {
    list-style-type: none;
    border: 1px solid #ddd;
    padding: 1.5em;
    background: rgba(35, 161, 56,0.4);
    color: rgb(168, 6, 168);
    width: 60%;
    margin: 1em auto;
    border-radius:0.3em;
}

@media screen and (max-width:1490px) {
    #searchInput {
        width: 40%;
    }

    form{
        width:70%;
    }
}

@media screen and (max-width:850px) {
    #searchInput {
        width: 50%;
    }
}

@media screen and (max-width:450px) {
    form {
        width: 95%;
        margin: 1% auto;
        font-size: 80%;
        padding: 0.2em;
    }

    #searchLabel {
        letter-spacing: 0em;
    }

    #searchInput {
        width: 50%;
    }
}